/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@font-face {
     font-family: raleway, Helvetica, monospace;
     src: url("../../fonts/Raleway-ExtraBoldItalic.ttf");
}

iframe{ 
	border: none; };

body{
	font-size: 10px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.bg {
	background: radial-gradient(#00ffff 0, #6ad3ff 79%);
	font-family: raleway;
	font-style: italic;
}

.headerblk{
	background-color: black;
}

#headerbtn {
	text-align: center;
}

.profilepic{
	display: inline;
}

.markerwhite {
	background-color: #FFFFFF;
	color: black;
	margin-bottom: 3px;
	font-size: 30px;
}

.markerred {
background-color: #f44274;
}

.markerorange{
background-color: #fcd928;
}

.markerlockdown{
background-color: #fc4231;
}

.markerblack {
	background-color: black;
	color: white;
	margin-bottom: 3px;
	font-size: 30px;
}

.energylevel{
	font-size: 30px;
}

.mybutton{
	font-family: raleway, Helvetica, monospace;
	font-size: 30px;
	/*text-transform: uppercase;*/
	color: black;
	background-color: white;
	border-color: black;
	border: 3px;
	border-style: dotted;
	box-shadow: 10px 10px 0px;

	text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
}

.buttons{
	padding: 40px;
}