/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@font-face {
     font-family: raleway;
     src: url("../../fonts/Raleway-ExtraBoldItalic.ttf");
}

iframe{ 
	border: none; };


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.bg {
	/*background-image: url(../images/wallpaper-mint.png);*/
	background: radial-gradient(#FBEA0E 0, #99CC99 80%, #FBEA0E 100%);
	background-repeat: no-repeat;
	font-family: raleway;
	font-style: italic;
}

.markerpink {
	background-color: #EB92BA;
	color: white;
}

.markerblack {
	background-color: black;
	color: white;
}

.mybutton{
	font-family: raleway;
	font-size: 30px;
	/*text-transform: uppercase;*/
	color: black;
	background-color: white;
	border-color: black;
	border: 3px;
	padding: 8px;
	border-style: dotted;
	box-shadow: 10px 10px 0px;
	/*padding: 10px;*/
}

.mybutton.mouseover{
	background-color: grey;
}

.balloongame {
	iframe{ border: none; }
}